.section__title {
    position: relative;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.grid {
    display: grid;
}

body{
    color:hsl(0, 0%, 35%);
    font-family: 'Roboto', sans-serif;
    font-size: .938rem;
}
.featured__container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}
.featured__img {
    height: 214px;
    margin-bottom: 1rem;
}
h2, h3 {
    color: hsl(0, 0%, 15%);
    font-weight: 500;
}
.featured__tag {
    background-color: hsl(31, 100%, 70%);
    padding: 0.5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: .813rem;
    font-weight: 500;
    position: absolute;
    left: -1rem;
    top: 1rem;
}
.featured__card {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding-top: 2rem;
    border: 1px solid hsl(0, 0%, 94%);
    overflow-y: hidden;
    transition: .3s;
}
.section {
    padding: 6.5rem 0 1rem;
}
.products__card{
    margin: 1px;
}
.products__img {

    height: 125px;
    margin-bottom: 1rem;
}
.products__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}
.footer__container {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.footer__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
button{
    border: 1px solid transparent;
    cursor: pointer;
    color:white;
    background:red;
    padding: 9px 15px;
    min-width: 80px;
    text-decoration: none;
   margin-left: 8px;
   font-family:Helvetica,Arial,sans-serif;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: .25px;
   line-height: 16px;
   margin-left: 10px;
   margin-right: 8px;
   min-width: 96px;
   padding: 9px 23px;
   text-align: center;
   vertical-align: middle;
   border-radius: 4px;
   box-sizing: border-box;
  
}
.mar{
    text-align: center;
    margin: 10;
}
.btn{
    border: 1px solid transparent;
    cursor: pointer;
    color:white;
    background:rgb(0, 132, 255);
    padding: 9px 15px;
    min-width: 80px;
    text-decoration: none;
   margin-left: 8px;
   font-family:Helvetica,Arial,sans-serif;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: .25px;
   line-height: 16px;
   margin-left: 10px;
   margin-right: 8px;
   min-width: 96px;
   padding: 9px 23px;
   text-align: center;
   vertical-align: middle;
   border-radius: 4px;
   box-sizing: border-box;
}
.form1{
    
    margin:2%;
    width: 100%;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
    border: 2px solid #aaa;
    background-color: transparent;
    color: #000000;
    margin: 8px 0;
    outline: none;
}